/* Minden elem alaphelyzetbe állítása */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Az oldal teljes háttere */
body{

    /* Betűtípus */
    font-family: Arial, sans-serif;

    /* Színátmenetes háttér */
    background-image: url('https://images.hdqwalls.com/download/spider-man-weaving-his-web-cl-1920x1080.jpg');

    /* Minimum teljes képernyő magasság */
    min-height:100vh;

    /* Középre igazítás */
    display:flex;
    justify-content:right;
    align-items:center;
    margin-right:8% ;
}

/* A teljes tartalom tárolója */
.container{
    width:400px;
    text-align:center;
}

/* Főcím */
h1{
    color:white;
    margin-bottom:10px;
}

/* Alcím */
.subtitle{
    color:white;
    margin-bottom:20px;
}

/* A fehér kártyák */
.card{

    background:rgba(117, 126, 117, 0.747);

    padding:25px;

    margin-bottom:20px;

    border-radius:15px;

    /* Árnyék a modernebb kinézetért */
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* Kártya címei */
.card h2{
    margin-bottom:15px;
    color: white;
}

/* Szövegbeviteli mezők */
input{

    width:100%;

    padding:12px;

    margin:8px 0;

    border:1px solid #ccc;

    border-radius:8px;

    outline:none;
}

/* Ha rákattintok egy mezőre */
input:focus{
    border-color:#4facfe;
}

/* Gombok */
button{

    width:100%;

    padding:12px;

    margin-top:10px;

    background:#4facfe;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;
}

/* Egér ráhúzása esetén */
button:hover{
    background:#2196f3;
}

/* Üzenetek */
p{
    margin-top:10px;
    font-weight:bold;
}

.switch-link {
    margin-top: 15px;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.switch-link a {
    color: #2196f3;
    text-decoration: none;
    font-weight: bold;
}

.switch-link a:hover {
    text-decoration: underline;
}